<html><body bgcolor="pink">
    <p>HOME PAGE::<a href="http://localhost:8000/home/">  CLICK HERE! </a></p>
    <font size=5 color="green">CUSTOMER NAME: Aditya Mathur
    <br>
    CONTACT NO: 123
    <br>
    </font>
    <table border=1 frame=hsides rules=all style="width:100%">
    <font size="36" color="red"><center>BILL</center></font>
    <br>
    <br>
    <br>
    <font size="15" color="green">
    <tr>
    <th>ITEM CODE</th>
    <th>ITEM NAME</th>
    <th>QUANTITY</th>
    <th>PRICE PER UNIT</th>
    <th>GST PERCENT</th>
    <th>GST PER UNIT</th>
    <th>NET GST</th>
    <th>NET PRICE PER UNIT</th>
    <th>TOTAL PRICE</th><tr>
        <td>37</td>
        <td>Red Label Tea-250gm</td>
        <td>1.0</td>
        <td>90.4762</td>
        <td>5</td>
        <td>4.52381</td>
        <td>4.52381</td>
        <td>95.0</td>
        <td>95.0</td>
        </tr><td colspan="8"><center>GRAND TOTAL</center></td>
    <td>95.0</td></table></font></body></html>