<form action="http://localhost:8000/bill/" method="POST">
{% csrf_token %}
<center>
<body bgcolor="light blue">
<font size="40" color="white">
CUSTOMER NAME:<input type="text" name="cust_name""/>
<br>
<br>
CONTACT NO:<input type="text" name="contact_no"/>
<br>
<br>
ADDRESS:<input type="text" name="address"/>
<br>
<br>
EMAIL ID:<input type="text" name="email_id">
<br>
<br>
<input type="submit" style="height: 2em; width: 50em font-weight: bold; font-size:20pt;" >
</form>
</body>
</font>
</center>
