<html><body bgcolor="pink">
    <p>HOME PAGE::<a href="http://localhost:8000/home/">  CLICK HERE! </a></p>
    <table border=5 frame=hsides rules=all style="width:100%">
    <font size="80" color="brown"><center>DAILY SALE</center></font>
    <br>
    <br>
    <br>
    <tr>
    <th>DATE</th>
    <th>SALE</th><tr>
        <td align="center">06 December 2019</td>
        <td align="center">2210</td>
        </tr><tr>
        <td align="center">08 December 2019</td>
        <td align="center">2249</td>
        </tr><tr>
        <td align="center">10 December 2019</td>
        <td align="center">2611</td>
        </tr><tr>
        <td align="center">12 December 2019</td>
        <td align="center">278</td>
        </tr>