<html>
<center>
<font size="30" color="red"><marquee direction = "left" scrollamount=30>HOMEPAGE :::::::: SHOP MANAGEMENT APPLICATION :::::::: WELCOME!!!!!
</marquee>
</font>
<body bgcolor="yellow">
<font size="20" color="blue">
<p>FOR BILLING::<a href="http://localhost:8000/customer_info/">  CLICK HERE! </a></p>
<p>FOR INVENTORY::<a href="http://localhost:8000/inventory1/">    CLICK HERE! </a></p>
<p>FOR SALE & GST::<a href="http://localhost:8000/salesgst/">    CLICK HERE! </a></p>
</body>
</center>
</html>
