<p>HOME PAGE::<a href="http://localhost:8000/home/">  CLICK HERE! </a></p>
    <body bgcolor="pink">
    <table border=1 frame=hsides rules=all style="width:100%">
    <font size="100" color="blue"><center>ALL BILLS</center></font>
    <br>
    <br>
    <br>
    <br>
    <br>
    <tr>
    <th>S NO.</th>
    <th>BILL</th><tr>
        <td align="center">1</td>
        <td align="center">('bill20191206135406',)</td>
        </tr><tr>
        <td align="center">2</td>
        <td align="center">('bill20191206135610',)</td>
        </tr><tr>
        <td align="center">3</td>
        <td align="center">('bill20191206163932',)</td>
        </tr><tr>
        <td align="center">4</td>
        <td align="center">('bill20191206164155',)</td>
        </tr><tr>
        <td align="center">5</td>
        <td align="center">('bill20191206164306',)</td>
        </tr><tr>
        <td align="center">6</td>
        <td align="center">('bill20191208144709',)</td>
        </tr><tr>
        <td align="center">7</td>
        <td align="center">('bill20191208144811',)</td>
        </tr><tr>
        <td align="center">8</td>
        <td align="center">('bill20191208144939',)</td>
        </tr><tr>
        <td align="center">9</td>
        <td align="center">('bill20191210195822',)</td>
        </tr><tr>
        <td align="center">10</td>
        <td align="center">('bill20191210232349',)</td>
        </tr><tr>
        <td align="center">11</td>
        <td align="center">('bill20191212222534',)</td>
        </tr><tr>
        <td align="center">12</td>
        <td align="center">('bill20200716145814',)</td>
        </tr><td colspan="7"></table></font></body></html>